﻿@{
    ViewData["Title"] = "Домашняя страница";
    var phoneNumber = TempData["PhoneNumber"] as string;
}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <section>
                    <h2>Добро пожаловать, @ViewData["first_name"]</h2>
                    <hr />
                    <h3>Данные пользователя</h3>
                    <p><strong>Фамилия:</strong> @ViewData["last_name"]</p>
                    <p><strong>Имя:</strong> @ViewData["first_name"]</p>
                    <p><strong>Отчество:</strong> @ViewData["middle_name"]</p>
                    <p><strong>Номер читательского билета:</strong> @ViewData["PhoneNumber"]</p>
                </section>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        <p>Страница входа</p>
    </div>
}
