﻿@{
    ViewData["Title"] = "Мои заказы";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section>
                    <h2>Информация о пользователе</h2>
                    <hr />
                    <p><strong>ФИО:</strong></p>
                    <p>Имя пользователя: @User.Identity.Name</p>
                    <p>Номер читательского билета: @ViewData["PhoneNumber"]</p>
                </section>
            </div>
            <div class="col-md-8">
                <section>
                    <h1>Заказы</h1>
                    <p>
                        База данных каталога: @ViewData["databaseCatalog"]<br />
                        Шифр хранения: @ViewData["storageCode"]<br />
                        Дата заказа: @ViewData["orderDate"]<br />
                        Заказ забронирован: @ViewData["orderBooked"]<br />
                        Место хранения: @ViewData["storageLocation"]<br />
                        Место выдачи: @ViewData["issuePlace"]<br />
                    </p>
                </section>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Необходимо войти в профиль</h1>
    </div>
}
